
.subscribe {
  text-align: center;

  &-title {
    padding-bottom: 35px;

    h2 {
      text-transform: none;
    }
  }

  input {
    margin-bottom: 10px;
  }

  button {
    text-transform: uppercase;
    font-size: 13px;
  }
}

.subscribe-title * {
  color: $white;
}

@media (min-width: 768px) and (max-width: 1199px){

  .subscribe-form {
    input {
      margin-right: 10px;
      width: 300px;
    }
  }

}

@media (min-width: 1200px) {

  .subscribe-form {
    input {
      width: 400px;
      margin-right: 10px;
    }
  }

}