$base-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
$reg: 300;
$bold: 900;
$red: #ff2d2d;
$gray: #4c4c4c;
$pink-gray: #f6f2f2;
$pink-light: #f5f0dd;
$white: #fff;
$black: #000;

$base-text-color: $black;
$base-text-color-reverse: $white;

$contact-info-bg: #2d2d2d;
$input-color: #7a786e;
$contact-info-color: #d5d5d5;
$link-hover: $red;
$icon-color: $red;
$btn-hover-bg: $red;
$btn-hover-color: $white;



